.title {background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
text-align: center;
margin: auto;}

.Brushes {background-color: mediumspringgreen;
  font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;}

.Frames {background-color: lightcoral;
font-size: 32px;
font-weight: bold;
color: white;}

.Paint {background-color: skyblue;
font-size: 32px;
font-weight: bold;
color: white;}

.price {font-family: Helvetica;
font-weight: bold;
color: blue;}
